<?xml version="1.0" encoding="utf-8"?>
<BusinessRule type="qbo.BusinessRule.BusinessRuleConfig, qbo.Application, Version=2.0.0.0, Culture=neutral, PublicKeyToken=2062e6b5d5159047">
	<BusinessRuleConfig xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
		<Plugins>
			<BusinessRulePlugin>
				<Name>JavascriptRule</Name>
				<AssemblyFile>C:/Program Files (x86)/Quandis/Quandis Business Objects v2.0.0/Bin/qbo.Web.dll</AssemblyFile>
				<NameSpace>qbo.Web</NameSpace>
			</BusinessRulePlugin>
		</Plugins>
	</BusinessRuleConfig>
</BusinessRule>