<?xml version="1.0" encoding="utf-8"?>
<CredentialConfig type="qbo.Security.CredentialCache, qbo.Security, Version=2.0.0.0, Culture=neutral, PublicKeyToken=2062e6b5d5159047">
	<CredentialCache>
		<Credential UriPrefix="https://advisoryhome.com/" AuthType="Basic" UserName="REISXRU99VWEB06\QuandisServices" Password="1234+Five" Domain="" />
		<Credential UriPrefix="https://advisoryhome.com/Interface/" AuthType="Basic" UserName="REISXRU99VWEB06\QuandisServices" Password="1234+Five" Domain="" />
		<Credential UriPrefix="https://advisoryhome.com/DataExchange/" AuthType="Basic" UserName="REISXRU99VWEB06\QuandisServices" Password="1234+Five" Domain="" />
		<Credential UriPrefix="https://advisoryhome.com/DataExchange/Qbo/" AuthType="Basic" UserName="REISXRU99VWEB06\QuandisServices" Password="1234+Five" Domain="" />
		<Credential UriPrefix="https://advisoryhome.com/Service/" AuthType="Basic" UserName="REISXRU99VWEB06\QuandisServices" Password="1234+Five" Domain="" />
		<Credential UriPrefix="https://advisoryhome.com/Service/Mortgage/Default" AuthType="Basic" UserName="REISXRU99VWEB06\QuandisServices" Password="1234+Five" Domain="" />
		<Credential UriPrefix="https://stage.quandis.com/" AuthType="Basic" UserName="faslo" Password="Chr1stmas" Domain="" />
		<Credential UriPrefix="https://stage.quandis.com/Service/" AuthType="Basic" UserName="faslo" Password="Chr1stmas" Domain="" />
		<Credential UriPrefix="http://stage.quandis.com/20/Service/" AuthType="Basic" UserName="faslo" Password="Chr1stmas" Domain="" />
		<Credential UriPrefix="https://stage.quandis.com/20/Service/" AuthType="Basic" UserName="faslo" Password="Chr1stmas" Domain="" />
		<Credential UriPrefix="https://stage.quandis.com/Service/Mortgage/" AuthType="Basic" UserName="faslo" Password="Chr1stmas" Domain="" />
		<Credential UriPrefix="https://stage.quandis.com/Service/Mortgage/Pacer/" AuthType="Basic" UserName="faslo" Password="Chr1stmas" Domain="" />
		<Credential UriPrefix="https://stage.quandis.com/Service/Mortgage/MortgageService.asmx?" AuthType="Basic" UserName="faslo" Password="Chr1stmas" Domain="" />
		<Credential UriPrefix="https://services.quandis.com/" AuthType="Basic" UserName="faslo" Password="CoreLogic213!" Domain="" />
		<Credential UriPrefix="https://services.quandis.com/ReportServer/" AuthType="Basic" UserName="faslo" Password="CoreLogic213!" Domain="" />
		<Credential UriPrefix="https://services.quandis.com/Service/Exchange/" AuthType="Basic" UserName="fasloskip" Password="Innovat!on" Domain="" />
		<Credential UriPrefix="https://services.quandis.com/Service/Mortgage/Pacer/" AuthType="Basic" UserName="faslo" Password="CoreLogic213!" Domain="" />
		<Credential UriPrefix="https://services.quandis.com/Service/Message/EmailService.asmx" AuthType="Basic" UserName="faslo" Password="CoreLogic213!" Domain="" />
		<Credential UriPrefix="http://salesforce.com/FirstAm" AuthType="Basic" UserName="quandis@dreambuilder.net" Password="interfaceme" Domain="" />
		<Credential UriPrefix="ftp://ftp2.resftp.com/" AuthType="Basic" UserName="fsloa1j02" Password="102f1l01" Domain="" />
		<Credential UriPrefix="http://stage.quandis.com/20/Service/_411/" AuthType="Basic" UserName="Fremont" Password="Inspection22$" Domain="" />
		<Credential UriPrefix="https://services.quandis.com/20/Service/" AuthType="Basic" UserName="faslo" Password="CoreLogic213!" Domain="" />
		<Credential UriPrefix="https://services.quandis.com/20/Service/411/" AuthType="Basic" UserName="faslo" Password="CoreLogic213!" Domain="" />
		<Credential UriPrefix="https://services.quandis.com/20/Service/Accurint/" AuthType="Basic" UserName="fasloskip" Password="Innovat!on" Domain="" />
		<Credential UriPrefix="https://services.quandis.com/20/Service/RealQuest/" AuthType="Basic" UserName="faslo" Password="CoreLogic213!" Domain="" />
		<Credential UriPrefix="https://service20.faslo.net/Service/" AuthType="Basic" UserName="CAPRICORN\faslo" Password="Chr1stmas" Domain="" />
		<Credential UriPrefix="http://oldservices.quandis.com/20/Service/" AuthType="Basic" UserName="faslo" Password="CoreLogic213!" Domain="" />
		<Credential UriPrefix="https://services.quandis.com/Service/Exchange/ServiceOrderService.asmx" AuthType="Basic" UserName="faslo" Password="CoreLogic213!" Domain="" />
		<Credential UriPrefix="https://prod.quandis.com/Service/ReportService.asmx" AuthType="Basic" UserName="REISXRU99VWEB06\QuandisServices" Password="1234+Five" Domain="" />
		<Credential UriPrefix="http://stage.quandis.com/20/Service/Pacer/PacerSearch.asmx" AuthType="Basic" UserName="faslo" Password="Chr1stmas" Domain="" />
		<Credential UriPrefix="https://services.quandis.com/20/Service/Pacer/PacerSearch.asmx" AuthType="Basic" UserName="faslo" Password="CoreLogic213!" Domain="" />
		<Credential UriPrefix="https://services.quandis.com/service/Exchange/ServiceOrderService.asmx?op=ProcessEvent" AuthType="Basic" UserName="faslo" Password="CoreLogic213!" Domain="" />
		<Credential UriPrefix="http://stage.quandis.com/service/Exchange/ServiceOrderService.asmx" AuthType="Basic" UserName="faslo" Password="Chr1stmas" Domain="" />
		<Credential UriPrefix="file://reisxru99vfil01/FASLO_Attachments/upload/scorezip/" AuthType="Basic" UserName="fasloevents" Password="Password@1" Domain="fareis" />
		<Credential UriPrefix="file://reisxru99vfil01/FASLO_Attachments/upload/" AuthType="Basic" UserName="fasloevents" Password="Password@1" Domain="fareis" />
		<Credential UriPrefix="https://dta-quandis-com.s3.amazonaws.com/" AuthType="Basic" UserName="AKIAJ6SL6SBTM4NE356Q" Password="VnQWesVl8489wwBo6JfBComovWX4HqqZeJiTUlSi" Domain="" />
		<Credential UriPrefix="https://military.quandis.com/" AuthType="Basic" UserName="faslo" Password="faslo" Domain="" />
	</CredentialCache>
</CredentialConfig>