<?xml version="1.0" encoding="utf-8"?>
<DecisionConfig type="qbo.Decision.DecisionConfig, qbo.Decision, Version=2.0.0.0, Culture=neutral, PublicKeyToken=2062e6b5d5159047">
	<DecisionConfig xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
		<DecisionStepTypes>
			<DecisionStepType>
				<TemplateObject>MilestoneTemplate</TemplateObject>
				<InstanceObject>Milestone</InstanceObject>
				<Label>Calendar Entry</Label>
			</DecisionStepType>
			<DecisionStepType>
				<TemplateObject>Event</TemplateObject>
				<InstanceObject>EventQueue</InstanceObject>
				<Label>Automated Event</Label>
			</DecisionStepType>
			<DecisionStepType>
				<TemplateObject>ScoreTemplate</TemplateObject>
				<InstanceObject>Score</InstanceObject>
				<Label>Score</Label>
			</DecisionStepType>
			<DecisionStepType>
				<TemplateObject>DecisionTemplate</TemplateObject>
				<InstanceObject>Decision</InstanceObject>
				<Label>Workflow</Label>
			</DecisionStepType>
			<DecisionStepType>
				<TemplateObject>ImportStepTemplate</TemplateObject>
				<InstanceObject>ImportStep</InstanceObject>
				<Label>Import Step</Label>
			</DecisionStepType>
			<DecisionStepType>
				<TemplateObject>ImportFormTemplate</TemplateObject>
				<InstanceObject>ImportForm</InstanceObject>
				<Label>Custom Form</Label>
			</DecisionStepType>
		</DecisionStepTypes>
		<Decision>
			<SearchBy />
			<SearchStringLength>0</SearchStringLength>
			<SortBy />
			<DisplaySize>25</DisplaySize>
			<BusinessRules>false</BusinessRules>
			<Events>true</Events>
			<XmlOptions>OmitNil</XmlOptions>
			<Label />
		</Decision>
		<DecisionTemplate>
			<SearchBy />
			<SearchStringLength>0</SearchStringLength>
			<SortBy />
			<DisplaySize>25</DisplaySize>
			<BusinessRules>false</BusinessRules>
			<Events>true</Events>
			<XmlOptions>OmitNil</XmlOptions>
			<Label />
		</DecisionTemplate>
		<DecisionStep>
			<SearchBy />
			<SearchStringLength>0</SearchStringLength>
			<SortBy />
			<DisplaySize>25</DisplaySize>
			<BusinessRules>false</BusinessRules>
			<Events>true</Events>
			<XmlOptions>OmitNil</XmlOptions>
			<Label />
		</DecisionStep>
		<DecisionStepTemplate>
			<SearchBy />
			<SearchStringLength>0</SearchStringLength>
			<SortBy />
			<DisplaySize>25</DisplaySize>
			<BusinessRules>false</BusinessRules>
			<Events>true</Events>
			<XmlOptions>OmitNil</XmlOptions>
			<Label />
		</DecisionStepTemplate>
		<DecisionDependency>
			<SearchBy />
			<SearchStringLength>0</SearchStringLength>
			<SortBy />
			<DisplaySize>25</DisplaySize>
			<BusinessRules>false</BusinessRules>
			<Events>true</Events>
			<XmlOptions>OmitNil</XmlOptions>
			<Label />
		</DecisionDependency>
	</DecisionConfig>
</DecisionConfig>