<?xml version="1.0" encoding="utf-8"?>
<FileObjectConfig type="qbo.Attachment.AttachmentFile.FileObjectConfig, qbo.Attachment, Version=2.0.0.0, Culture=neutral, PublicKeyToken=2062e6b5d5159047">
  <FileObjectConfig xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <FileObjects>
      <FileObjectAssembly>
        <Label>UNC Score Zip File Store</Label>
        <Name>UNCScoreZipFile</Name>
        <AssemblyFile>C:\Inetpub\advisoryhome.com\bin\qbo.Attachment.FileObject.dll</AssemblyFile>
        <NameSpace>qbo.Attachment.FileObject</NameSpace>
        <BasePath>\\<Edg_Filer/>\FASLO_Attachments\upload\scorezip\</BasePath>
        <Version>Version</Version>
        <Compress>1</Compress>
       </FileObjectAssembly>
       <FileObjectAssembly>
        <Label>Local File Store</Label>
        <Name>LocalFileObject</Name>
        <AssemblyFile>C:\Inetpub\advisoryhome.com\bin\qbo.Attachment.FileObject.dll</AssemblyFile>
        <NameSpace>qbo.Attachment.FileObject</NameSpace>
        <BasePath>\\<Edg_Filer/>\FASLO_Attachments\upload\</BasePath>
        <Version>Version</Version>
        <Compress>1</Compress>
      </FileObjectAssembly>
      <FileObjectAssembly>
	<Label>Amazon S3</Label>
	<Name>S3FileObject</Name>
	<AssemblyFile>C:\Inetpub\advisoryhome.com\bin\qbo.Attachment.AmazonS3Object.dll</AssemblyFile>
	<NameSpace>qbo.Attachment.AmazonS3Object</NameSpace>
	<BasePath>https://dta-quandis-com.s3.amazonaws.com</BasePath>
	<Version>Version</Version>
      </FileObjectAssembly>
    </FileObjects>
  </FileObjectConfig>
</FileObjectConfig>