<?xml version="1.0" encoding="utf-8"?>
<ObjectFactory type="qbo.Application.ObjectAssembly[], qbo.Application, Version=2.0.0.0, Culture=neutral, PublicKeyToken=2062e6b5d5159047">
  <ArrayOfObjectAssembly xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <ObjectAssembly>
      <Name>ContactObject</Name>
      <AssemblyFile>C:/Program Files (x86)/Quandis/Quandis Business Objects v2.0.0/bin/qbo.Contact.dll</AssemblyFile>
      <NameSpace>qbo.Contact</NameSpace>
      <ImportSequence>1</ImportSequence>
    </ObjectAssembly>
    <ObjectAssembly>
      <Name>OrganizationObject</Name>
      <AssemblyFile>C:/Program Files (x86)/Quandis/Quandis Business Objects v2.0.0/bin/qbo.Contact.dll</AssemblyFile>
      <NameSpace>qbo.Contact</NameSpace>
      <ImportSequence>2</ImportSequence>
    </ObjectAssembly>
    <ObjectAssembly>
      <Name>ReportObject</Name>
      <AssemblyFile>C:/Program Files (x86)/Quandis/Quandis Business Objects v2.0.0/bin/qbo.Report.dll</AssemblyFile>
      <NameSpace>qbo.Report</NameSpace>
      <ImportSequence>3</ImportSequence>
    </ObjectAssembly>
    <ObjectAssembly>
      <Name>ScoreTemplateObject</Name>
      <AssemblyFile>C:/Program Files (x86)/Quandis/Quandis Business Objects v2.0.0/bin/qbo.Score.dll</AssemblyFile>
      <NameSpace>qbo.Score</NameSpace>
      <ImportSequence>4</ImportSequence>
    </ObjectAssembly>
    <ObjectAssembly>
      <Name>MilestoneTemplateObject</Name>
      <AssemblyFile>C:/Program Files (x86)/Quandis/Quandis Business Objects v2.0.0/bin/qbo.Milestone.dll</AssemblyFile>
      <NameSpace>qbo.Milestone</NameSpace>
      <ImportSequence>5</ImportSequence>
    </ObjectAssembly>
    <ObjectAssembly>
      <Name>DecisionTemplateObject</Name>
      <AssemblyFile>C:/Program Files (x86)/Quandis/Quandis Business Objects v2.0.0/bin/qbo.Decision.dll</AssemblyFile>
      <NameSpace>qbo.Decision</NameSpace>
      <ImportSequence>6</ImportSequence>
    </ObjectAssembly>
    <ObjectAssembly>
      <Name>DecisionStepTemplateObject</Name>
      <AssemblyFile>C:/Program Files (x86)/Quandis/Quandis Business Objects v2.0.0/bin/qbo.Decision.dll</AssemblyFile>
      <NameSpace>qbo.Decision</NameSpace>
      <ImportSequence>7</ImportSequence>
    </ObjectAssembly>
    <ObjectAssembly>
      <Name>DecisionDependencyObject</Name>
      <AssemblyFile>C:/Program Files (x86)/Quandis/Quandis Business Objects v2.0.0/bin/qbo.Decision.dll</AssemblyFile>
      <NameSpace>qbo.Decision</NameSpace>
      <ImportSequence>8</ImportSequence>
    </ObjectAssembly>
    <ObjectAssembly>
      <Name>PropertyObject</Name>
      <AssemblyFile>C:/Inetpub/advisoryhome.com/bin/qbo.Mortgage.dll</AssemblyFile>
      <NameSpace>qbo.Mortgage</NameSpace>
      <ImportSequence>9</ImportSequence>
    </ObjectAssembly>
    <ObjectAssembly>
      
        <Name>CollectionMemberObject</Name>
        <AssemblyFile>C:/Program Files (x86)/Quandis/Quandis Business Objects v2.0.0/bin/qbo.Contact.dll</AssemblyFile>
        <NameSpace>qbo.Contact</NameSpace>
        <ImportSequence>10</ImportSequence>
        <ImportXmlNode>ServicerCollectionMemberObject</ImportXmlNode>
      </ObjectAssembly>
<ObjectAssembly>
      <Name>LoanObject</Name>
      <AssemblyFile>C:/Inetpub/advisoryhome.com/bin/qbo.Mortgage.dll</AssemblyFile>
      <NameSpace>qbo.Mortgage</NameSpace>
      <ImportSequence>11</ImportSequence>
    </ObjectAssembly>
    <ObjectAssembly>
      <Name>LoanObject</Name>
      <AssemblyFile>C:/Inetpub/advisoryhome.com/bin/qbo.Mortgage.dll</AssemblyFile>
      <NameSpace>qbo.Mortgage</NameSpace>
      <ImportSequence>12</ImportSequence>
      <ImportXmlNode>SeniorLoanObject</ImportXmlNode>
    </ObjectAssembly>
    <ObjectAssembly>
      <Name>AutomobileObject</Name>
      <AssemblyFile>C:/Inetpub/advisoryhome.com/bin/qbo.Debt.dll</AssemblyFile>
      <NameSpace>qbo.Debt</NameSpace>
      <ImportSequence>13</ImportSequence>
    </ObjectAssembly>
    <ObjectAssembly>
      <Name>DebtObject</Name>
      <AssemblyFile>C:/Inetpub/advisoryhome.com/bin/qbo.Debt.dll</AssemblyFile>
      <NameSpace>qbo.Debt</NameSpace>
      <ImportSequence>14</ImportSequence>
    </ObjectAssembly>
    <ObjectAssembly>
      <Name>ForeclosureObject</Name>
      <AssemblyFile>C:/Inetpub/advisoryhome.com/bin/qbo.Mortgage.dll</AssemblyFile>
      <NameSpace>qbo.Mortgage.Default</NameSpace>
      <ImportSequence>15</ImportSequence>
    </ObjectAssembly>
    <ObjectAssembly>
      <Name>SurplusRecoveryObject</Name>
      <AssemblyFile>C:/Inetpub/advisoryhome.com/bin/faslo.FasloWeb.dll</AssemblyFile>
      <NameSpace>faslo.FasloWeb</NameSpace>
      <ImportSequence>16</ImportSequence>
    </ObjectAssembly>
    <ObjectAssembly>
      <Name>CourtObject</Name>
      <AssemblyFile>C:/Program Files (x86)/Quandis/Quandis Business Objects v2.0.0/bin/qbo.Contact.dll</AssemblyFile>
      <NameSpace>qbo.Contact.Court</NameSpace>
      <ImportSequence>17</ImportSequence>
    </ObjectAssembly>
    <ObjectAssembly>
      <Name>BankruptcyObject</Name>
      <AssemblyFile>C:/Inetpub/advisoryhome.com/bin/qbo.Credit.dll</AssemblyFile>
      <NameSpace>qbo.Credit</NameSpace>
      <ImportSequence>18</ImportSequence>
    </ObjectAssembly>
    <ObjectAssembly>
      <Name>BidAtSaleObject</Name>
      <AssemblyFile>C:/Inetpub/advisoryhome.com/bin/qbo.Mortgage.dll</AssemblyFile>
      <NameSpace>qbo.Mortgage.Default</NameSpace>
      <ImportSequence>19</ImportSequence>
    </ObjectAssembly>
    <ObjectAssembly>
      <Name>BorrowerObject</Name>
      <AssemblyFile>C:/Inetpub/advisoryhome.com/bin/qbo.Mortgage.dll</AssemblyFile>
      <NameSpace>qbo.Mortgage</NameSpace>
      <ImportSequence>20</ImportSequence>
    </ObjectAssembly>
    <ObjectAssembly>
      <Name>ProcessObject</Name>
      <AssemblyFile>C:/Program Files (x86)/Quandis/Quandis Business Objects v2.0.0/bin/qbo.Process.dll</AssemblyFile>
      <NameSpace>qbo.Process</NameSpace>
      <ImportSequence>21</ImportSequence>
    </ObjectAssembly>
    <ObjectAssembly>
      <Name>DecisionObject</Name>
      <AssemblyFile>C:/Program Files (x86)/Quandis/Quandis Business Objects v2.0.0/bin/qbo.Decision.dll</AssemblyFile>
      <NameSpace>qbo.Decision</NameSpace>
      <ImportSequence>22</ImportSequence>
    </ObjectAssembly>
    <ObjectAssembly>
      <Name>MilestoneObject</Name>
      <AssemblyFile>C:/Program Files (x86)/Quandis/Quandis Business Objects v2.0.0/bin/qbo.Milestone.dll</AssemblyFile>
      <NameSpace>qbo.Milestone</NameSpace>
      <ImportSequence>23</ImportSequence>
    </ObjectAssembly>
    <ObjectAssembly>
      <Name>MilestoneObject</Name>
      <AssemblyFile>C:/Program Files (x86)/Quandis/Quandis Business Objects v2.0.0/bin/qbo.Milestone.dll</AssemblyFile>
      <NameSpace>qbo.Milestone</NameSpace>
      <ImportSequence>24</ImportSequence>
      <ImportXmlNode>MilestoneUpdateObject</ImportXmlNode>
    </ObjectAssembly>
    <ObjectAssembly>
      <Name>MessageObject</Name>
      <AssemblyFile>C:/Program Files (x86)/Quandis/Quandis Business Objects v2.0.0/bin/qbo.Message.dll</AssemblyFile>
      <NameSpace>qbo.Message</NameSpace>
      <ImportSequence>25</ImportSequence>
    </ObjectAssembly>
    <ObjectAssembly>
      <Name>AttachmentObject</Name>
      <AssemblyFile>C:/Program Files (x86)/Quandis/Quandis Business Objects v2.0.0/bin/qbo.Attachment.dll</AssemblyFile>
      <NameSpace>qbo.Attachment</NameSpace>
      <ImportSequence>26</ImportSequence>
    </ObjectAssembly>
    <ObjectAssembly>
      <Name>ValuationObject</Name>
      <AssemblyFile>C:/Inetpub/advisoryhome.com/bin/qbo.Mortgage.dll</AssemblyFile>
      <NameSpace>qbo.Mortgage.Valuation</NameSpace>
      <ImportSequence>27</ImportSequence>
    </ObjectAssembly>
    <ObjectAssembly>
      <Name>LedgerObject</Name>
      <AssemblyFile>C:/Program Files (x86)/Quandis/Quandis Business Objects v2.0.0/bin/qbo.Accounting.dll</AssemblyFile>
      <NameSpace>qbo.Accounting</NameSpace>
      <ImportSequence>28</ImportSequence>
    </ObjectAssembly>
    <ObjectAssembly>
      <Name>LedgerItemObject</Name>
      <AssemblyFile>C:/Program Files (x86)/Quandis/Quandis Business Objects v2.0.0/bin/qbo.Accounting.dll</AssemblyFile>
      <NameSpace>qbo.Accounting</NameSpace>
      <ImportSequence>29</ImportSequence>
    </ObjectAssembly>
    <ObjectAssembly>
      <Name>CreditReportObject</Name>
      <AssemblyFile>C:/Inetpub/advisoryhome.com/bin/qbo.Credit.dll</AssemblyFile>
      <NameSpace>qbo.Credit</NameSpace>
      <ImportSequence>30</ImportSequence>
    </ObjectAssembly>
    <ObjectAssembly>
      <Name>CreditLiabilityObject</Name>
      <AssemblyFile>C:/Inetpub/advisoryhome.com/bin/qbo.Credit.dll</AssemblyFile>
      <NameSpace>qbo.Credit</NameSpace>
      <ImportSequence>31</ImportSequence>
    </ObjectAssembly>
    <ObjectAssembly>
      <Name>ScoreObject</Name>
      <AssemblyFile>C:/Program Files (x86)/Quandis/Quandis Business Objects v2.0.0/bin/qbo.Score.dll</AssemblyFile>
      <NameSpace>qbo.Score</NameSpace>
      <ImportSequence>32</ImportSequence>
    </ObjectAssembly>
    <ObjectAssembly>
      <Name>EventObject</Name>
      <AssemblyFile>C:/Program Files (x86)/Quandis/Quandis Business Objects v2.0.0/bin/qbo.Application.dll</AssemblyFile>
      <NameSpace>qbo.Application</NameSpace>
      <ImportSequence>33</ImportSequence>
    </ObjectAssembly>
    <ObjectAssembly>
      <Name>ContactObject</Name>
      <AssemblyFile>C:/Program Files (x86)/Quandis/Quandis Business Objects v2.0.0/bin/qbo.Attachment.dll</AssemblyFile>
      <NameSpace>qbo.Contact</NameSpace>
      <ImportSequence>34</ImportSequence>
      <ImportXmlNode>DebtorObject</ImportXmlNode>
    </ObjectAssembly>
    <ObjectAssembly>
      <Name>AttachmentObject</Name>
      <AssemblyFile>C:/Program Files (x86)/Quandis/Quandis Business Objects v2.0.0/bin/qbo.Attachment.dll</AssemblyFile>
      <NameSpace>qbo.Attachment</NameSpace>
      <ImportSequence>35</ImportSequence>
      <ImportXmlNode>CreditReportAttachmentObject</ImportXmlNode>
    </ObjectAssembly>
    <ObjectAssembly>
      <Name>LienObject</Name>
      <AssemblyFile>C:/Inetpub/advisoryhome.com/bin/qbo.Credit.dll</AssemblyFile>
      <NameSpace>qbo.Credit</NameSpace>
      <ImportSequence>36</ImportSequence>
    </ObjectAssembly>
    <ObjectAssembly>
      <Name>PublicRecordObject</Name>
      <AssemblyFile>C:/Inetpub/advisoryhome.com/bin/qbo.Mortgage.dll</AssemblyFile>
      <NameSpace>qbo.Mortgage</NameSpace>
      <ImportSequence>37</ImportSequence>
    </ObjectAssembly>
    <ObjectAssembly>
      <Name>ContactObject</Name>
      <AssemblyFile>C:/Program Files (x86)/Quandis/Quandis Business Objects v2.0.0/bin/qbo.Contact.dll</AssemblyFile>
      <NameSpace>qbo.Contact</NameSpace>
      <ImportSequence>38</ImportSequence>
      <ImportXmlNode>PublicRecordContactObject</ImportXmlNode>
    </ObjectAssembly>
	  <ObjectAssembly>
      <Name>LienReportResultsObject</Name>
      <AssemblyFile>C:/Inetpub/advisoryhome.com/bin/qbo.Mortgage.dll</AssemblyFile>
      <NameSpace>qbo.Mortgage</NameSpace>
      <ImportSequence>39</ImportSequence>
    </ObjectAssembly>
    <ObjectAssembly>
      <Name>LoanTransactionObject</Name>
      <AssemblyFile>C:/Inetpub/advisoryhome.com/bin/qbo.Mortgage.dll</AssemblyFile>
      <NameSpace>qbo.Mortgage</NameSpace>
      <ImportSequence>40</ImportSequence>
    </ObjectAssembly>
    <ObjectAssembly>
      <Name>ContactObject</Name>
      <AssemblyFile>C:/Program Files (x86)/Quandis/Quandis Business Objects v2.0.0/bin/qbo.Contact.dll</AssemblyFile>
      <NameSpace>qbo.Contact</NameSpace>
      <ImportSequence>41</ImportSequence>
      <ImportXmlNode>LoanTransactionContactObject</ImportXmlNode>
    </ObjectAssembly>
    <ObjectAssembly>
      <Name>ContactObject</Name>
      <AssemblyFile>C:/Program Files (x86)/Quandis/Quandis Business Objects v2.0.0/bin/qbo.Contact.dll</AssemblyFile>
      <NameSpace>qbo.Contact</NameSpace>
      <ImportSequence>42</ImportSequence>
      <ImportXmlNode>DebtContactObject</ImportXmlNode>
    </ObjectAssembly>
    <ObjectAssembly>
      <Name>ContactMethodObject</Name>
      <AssemblyFile>C:/Program Files (x86)/Quandis/Quandis Business Objects v2.0.0/bin/qbo.Contact.dll</AssemblyFile>
      <NameSpace>qbo.Contact</NameSpace>
      <ImportSequence>43</ImportSequence>
    </ObjectAssembly>
    <ObjectAssembly>
      <Name>ContactObject</Name>
      <AssemblyFile>C:/Program Files (x86)/Quandis/Quandis Business Objects v2.0.0/bin/qbo.Contact.dll</AssemblyFile>
      <NameSpace>qbo.Contact</NameSpace>
      <ImportSequence>44</ImportSequence>
      <ImportXmlNode>BankruptcyContactObject</ImportXmlNode>
    </ObjectAssembly>
    <ObjectAssembly>
      <Name>MilestoneObject</Name>
      <AssemblyFile>C:/Program Files (x86)/Quandis/Quandis Business Objects v2.0.0/bin/qbo.Milestone.dll</AssemblyFile>
      <NameSpace>qbo.Milestone</NameSpace>
      <ImportSequence>45</ImportSequence>
      <ImportXmlNode>PublicDataOrderedObject</ImportXmlNode>
    </ObjectAssembly>
    <ObjectAssembly>
      <Name>SkipTraceObject</Name>
      <AssemblyFile>C:/Inetpub/advisoryhome.com/bin/qbo.SkipTrace.dll</AssemblyFile>
      <NameSpace>qbo.SkipTrace</NameSpace>
      <ImportSequence>46</ImportSequence>
    </ObjectAssembly>
    <ObjectAssembly>
      <Name>ContactObject</Name>
      <AssemblyFile>C:/Program Files (x86)/Quandis/Quandis Business Objects v2.0.0/bin/qbo.Contact.dll</AssemblyFile>
      <NameSpace>qbo.Contact</NameSpace>
      <ImportSequence>47</ImportSequence>
      <ImportXmlNode>SkipTraceContactObject</ImportXmlNode>
    </ObjectAssembly>
    <ObjectAssembly>
      <Name>DebtObject</Name>
      <AssemblyFile>C:/Inetpub/advisoryhome.com/bin/qbo.Debt.dll</AssemblyFile>
      <NameSpace>qbo.Debt</NameSpace>
      <ImportSequence>48</ImportSequence>
      <ImportXmlNode>AutomobileDebtObject</ImportXmlNode>
    </ObjectAssembly>
    <ObjectAssembly>
      <Name>TitleObject</Name>
      <AssemblyFile>C:/Inetpub/advisoryhome.com/bin/qbo.Mortgage.dll</AssemblyFile>
      <NameSpace>qbo.Mortgage.Origination</NameSpace>
      <ImportSequence>49</ImportSequence>
      <ImportXmlNode>TitleObject</ImportXmlNode>
    </ObjectAssembly>
    <ObjectAssembly>
      <Name>MessageObject</Name>
      <AssemblyFile>C:/Program Files (x86)/Quandis/Quandis Business Objects v2.0.0/bin/qbo.Message.dll</AssemblyFile>
      <NameSpace>qbo.Message</NameSpace>
      <ImportSequence>50</ImportSequence>
      <ImportXmlNode>TitleMessageObject</ImportXmlNode>
    </ObjectAssembly>
    <ObjectAssembly>
      <Name>AttachmentObject</Name>
      <AssemblyFile>C:/Program Files (x86)/Quandis/Quandis Business Objects v2.0.0/bin/qbo.Attachment.dll</AssemblyFile>
      <NameSpace>qbo.Attachment</NameSpace>
      <ImportSequence>51</ImportSequence>
      <ImportXmlNode>TitleAttachmentObject</ImportXmlNode>
    </ObjectAssembly>
    <ObjectAssembly>
      <Name>ObjectSubscriptionObject</Name>
      <AssemblyFile>C:/Inetpub/advisoryhome.com/bin/qbo.Design.dll</AssemblyFile>
      <NameSpace>qbo.Design</NameSpace>
      <ImportSequence>52</ImportSequence>
    </ObjectAssembly>
    <ObjectAssembly>
      <Name>CollectionObject</Name>
      <AssemblyFile>C:/Program Files (x86)/Quandis/Quandis Business Objects v2.0.0/bin/qbo.Contact.dll</AssemblyFile>
      <NameSpace>qbo.Contact</NameSpace>
      <ImportSequence>53</ImportSequence>
    </ObjectAssembly>
    <ObjectAssembly>
      <Name>CollectionMemberObject</Name>
      <AssemblyFile>C:/Program Files (x86)/Quandis/Quandis Business Objects v2.0.0/bin/qbo.Contact.dll</AssemblyFile>
      <NameSpace>qbo.Contact</NameSpace>
      <ImportSequence>54</ImportSequence>
    </ObjectAssembly>
    <ObjectAssembly>
      <Name>EventStepObject</Name>
      <AssemblyFile>C:/Program Files (x86)/Quandis/Quandis Business Objects v2.0.0/bin/qbo.Decision.dll</AssemblyFile>
      <NameSpace>qbo.Decision</NameSpace>
      <ImportSequence>55</ImportSequence>
    </ObjectAssembly>
    <ObjectAssembly>
      <Name>GeographyObject</Name>
      <AssemblyFile>C:/Program Files (x86)/Quandis/Quandis Business Objects v2.0.0/bin/qbo.Contact.dll</AssemblyFile>
      <NameSpace>qbo.Contact</NameSpace>
      <ImportSequence>56</ImportSequence>
      <ImportXmlNode />
    </ObjectAssembly>
    <ObjectAssembly>
      <Name>ProfessionalLicenseObject</Name>
      <AssemblyFile>C:/Program Files (x86)/Quandis/Quandis Business Objects v2.0.0/bin/qbo.Contact.dll</AssemblyFile>
      <NameSpace>qbo.Contact</NameSpace>
      <ImportSequence>57</ImportSequence>
      <ImportXmlNode />
    </ObjectAssembly>
    <ObjectAssembly>
      <Name>HelpObject</Name>
      <AssemblyFile>C:/Inetpub/advisoryhome.com/bin/qbo.HelpWeb.dll</AssemblyFile>
      <NameSpace>qbo.HelpWeb</NameSpace>
      <ImportSequence>58</ImportSequence>
    </ObjectAssembly>
    <ObjectAssembly>
      <Name>AttachmentCollection</Name>
      <AssemblyFile>C:/Program Files (x86)/Quandis/Quandis Business Objects v2.0.0/bin/qbo.Attachment.dll</AssemblyFile>
      <NameSpace>qbo.Attachment</NameSpace>
      <ImportSequence>59</ImportSequence>
    </ObjectAssembly>
    <ObjectAssembly>
      <Name>PaymentPlanObject</Name>
      <AssemblyFile>C:/Inetpub/advisoryhome.com/bin/qbo.Debt.dll</AssemblyFile>
      <NameSpace>qbo.Debt</NameSpace>
      <ImportSequence>60</ImportSequence>
      <ImportXmlNode />
    </ObjectAssembly>
    <ObjectAssembly>
      <Name>PaymentMessageObject</Name>
      <AssemblyFile>C:/Inetpub/advisoryhome.com/bin/qbo.Debt.dll</AssemblyFile>
      <NameSpace>qbo.Debt</NameSpace>
      <ImportSequence>61</ImportSequence>
      <ImportXmlNode />
    </ObjectAssembly>
    <ObjectAssembly>
      <Name>PaymentObject</Name>
      <AssemblyFile>C:/Inetpub/advisoryhome.com/bin/qbo.Debt.dll</AssemblyFile>
      <NameSpace>qbo.Debt</NameSpace>
      <ImportSequence>62</ImportSequence>
      <ImportXmlNode />
    </ObjectAssembly>
    <ObjectAssembly>
      <Name>SmartWorklistTemplateObject</Name>
      <AssemblyFile>C:/Program Files (x86)/Quandis/Quandis Business Objects v2.0.0/bin/qbo.Decision.dll</AssemblyFile>
      <NameSpace>qbo.Decision</NameSpace>
      <ImportSequence>63</ImportSequence>
    </ObjectAssembly>
    <ObjectAssembly>
      <Name>MessageCollection</Name>
      <AssemblyFile>C:/Program Files (x86)/Quandis/Quandis Business Objects v2.0.0/bin/qbo.Message.dll</AssemblyFile>
      <NameSpace>qbo.Message</NameSpace>
      <ImportSequence>64</ImportSequence>
    </ObjectAssembly>
    <ObjectAssembly>
      <Name>MessageObject</Name>
      <AssemblyFile>C:/Program Files (x86)/Quandis/Quandis Business Objects v2.0.0/bin/qbo.Message.dll</AssemblyFile>
      <NameSpace>qbo.Message</NameSpace>
      <ImportSequence>65</ImportSequence>
      <ImportXmlNode>CreditLiabilityMessageObject</ImportXmlNode>
    </ObjectAssembly>
    <ObjectAssembly>
      <Name>DealObject</Name>
      <AssemblyFile>C:/Inetpub/advisoryhome.com/bin/qbo.Debt.dll</AssemblyFile>
      <NameSpace>qbo.Debt</NameSpace>
      <ImportSequence>66</ImportSequence>
    </ObjectAssembly>
    <ObjectAssembly>
      <Name>ScoreItemTemplateObject</Name>
      <AssemblyFile>C:/Program Files (x86)/Quandis/Quandis Business Objects v2.0.0/bin/qbo.Score.dll</AssemblyFile>
      <NameSpace>qbo.Score</NameSpace>
      <ImportSequence>67</ImportSequence>
    </ObjectAssembly>
    <ObjectAssembly>
      <Name>LedgerObject</Name>
      <AssemblyFile>C:/Program Files (x86)/Quandis/Quandis Business Objects v2.0.0/bin/qbo.Accounting.dll</AssemblyFile>
      <NameSpace>qbo.Accounting</NameSpace>
      <ImportSequence>68</ImportSequence>
      <ImportXmlNode>DebtLedgerObject</ImportXmlNode>
    </ObjectAssembly>
    <ObjectAssembly>
      <Name>LedgerItemObject</Name>
      <AssemblyFile>C:/Program Files (x86)/Quandis/Quandis Business Objects v2.0.0/bin/qbo.Accounting.dll</AssemblyFile>
      <NameSpace>qbo.Accounting</NameSpace>
      <ImportSequence>69</ImportSequence>
      <ImportXmlNode>DebtLedgerItemObject</ImportXmlNode>
    </ObjectAssembly>
    <ObjectAssembly>
      <Name>ContactObject</Name>
      <AssemblyFile>C:/Program Files (x86)/Quandis/Quandis Business Objects v2.0.0/bin/qbo.Contact.dll</AssemblyFile>
      <NameSpace>qbo.Contact</NameSpace>
      <ImportSequence>70</ImportSequence>
      <ImportXmlNode>SkipTraceContactObject</ImportXmlNode>
    </ObjectAssembly>
    <ObjectAssembly>
      <Name>SuitOnNoteObject</Name>
      <AssemblyFile>C:/Inetpub/advisoryhome.com/bin/qbo.Debt.dll</AssemblyFile>
      <NameSpace>qbo.Debt</NameSpace>
      <ImportSequence>71</ImportSequence>
    </ObjectAssembly>
    <ObjectAssembly>
      <Name>WillCapObject</Name>
      <AssemblyFile>C:/Inetpub/advisoryhome.com/bin/faslo.FasloWeb.dll</AssemblyFile>
      <NameSpace>faslo.FasloWeb</NameSpace>
      <ImportSequence>72</ImportSequence>
    </ObjectAssembly>
    <ObjectAssembly>
      <Name>AttachmentObject</Name>
      <AssemblyFile>C:/Program Files (x86)/Quandis/Quandis Business Objects v2.0.0/bin/qbo.Attachment.dll</AssemblyFile>
      <NameSpace>qbo.Attachment</NameSpace>
      <ImportSequence>73</ImportSequence>
      <ImportXmlNode>MilitaryAttachmentObject</ImportXmlNode>
    </ObjectAssembly>
    <ObjectAssembly>
      <Name>ArmTermObject</Name>
      <AssemblyFile>C:/Inetpub/advisoryhome.com/bin/qbo.Mortgage.dll</AssemblyFile>
      <NameSpace>qbo.Mortgage</NameSpace>
      <ImportSequence>74</ImportSequence>
    </ObjectAssembly>
    <ObjectAssembly>
      <Name>MessageObject</Name>
      <AssemblyFile>C:/Program Files (x86)/Quandis/Quandis Business Objects v2.0.0/bin/qbo.Message.dll</AssemblyFile>
      <NameSpace>qbo.Message</NameSpace>
      <ImportSequence>75</ImportSequence>
      <ImportXmlNode>ScoreMessageMessageObject</ImportXmlNode>
    </ObjectAssembly>
    <ObjectAssembly>
      <Name>AttachmentObject</Name>
      <AssemblyFile>C:/Program Files (x86)/Quandis/Quandis Business Objects v2.0.0/bin/qbo.Attachment.dll</AssemblyFile>
      <NameSpace>qbo.Attachment</NameSpace>
      <ImportSequence>76</ImportSequence>
      <ImportXmlNode>ValuationAttachmentObject</ImportXmlNode>
    </ObjectAssembly>
    <ObjectAssembly>
      <Name>ContactMethodObject</Name>
      <AssemblyFile>C:/Program Files (x86)/Quandis/Quandis Business Objects v2.0.0/bin/qbo.Contact.dll</AssemblyFile>
      <NameSpace>qbo.Contact</NameSpace>
      <ImportSequence>77</ImportSequence>
      <ImportXmlNode>BankruptcyContactMethodObject</ImportXmlNode>
    </ObjectAssembly>   
    <ObjectAssembly>
      <Name>ExtendedTextObject</Name>
      <AssemblyFile>C:/Program Files (x86)/Quandis/Quandis Business Objects v2.0.0/bin/qbo.Application.dll</AssemblyFile>
      <NameSpace>qbo.Application</NameSpace>
      <ImportSequence>78</ImportSequence>
      <ImportXmlNode />
    </ObjectAssembly>
    <ObjectAssembly>
      <Name>ProductOrderObject</Name>
      <AssemblyFile>C:/Inetpub/advisoryhome.com/bin/Adv.Core.dll</AssemblyFile>
      <NameSpace>Adv.Core</NameSpace>
      <ImportSequence>79</ImportSequence>
      <ImportXmlNode>ProductOrderObject</ImportXmlNode>
    </ObjectAssembly>
    <ObjectAssembly>
      <Name>ContactAddressObject</Name>
      <AssemblyFile>C:/Program Files (x86)/Quandis/Quandis Business Objects v2.0.0/bin/qbo.Contact.dll</AssemblyFile>
      <NameSpace>qbo.Contact</NameSpace>
      <ImportSequence>80</ImportSequence>
    </ObjectAssembly>
    <ObjectAssembly>
      <Name>ServiceOrderObject</Name>
      <AssemblyFile>C:/Inetpub/advisoryhome.com/bin/Adv.Core.dll</AssemblyFile>
      <NameSpace>Adv.Core</NameSpace>
      <ImportSequence>81</ImportSequence>
    </ObjectAssembly>
	<ObjectAssembly>
      <Name>ProductOrderDetailsObject</Name>
      <AssemblyFile>C:/inetpub/wwwroot/bin/Adv.Core.dll</AssemblyFile>
      <NameSpace>Adv.Core</NameSpace>
      <ImportSequence>82</ImportSequence>
    </ObjectAssembly>
	 <ObjectAssembly>
      <Name>DecisionObject</Name>
      <AssemblyFile>C:/Program Files (x86)/Quandis/Quandis Business Objects v2.0.0/bin/qbo.Decision.dll</AssemblyFile>
      <NameSpace>qbo.Decision</NameSpace>
      <ImportSequence>83</ImportSequence>
	  <ImportXmlNode>ProductOrderDetailsDecisionObject</ImportXmlNode>
    </ObjectAssembly>
	<ObjectAssembly>
      <Name>EventStepObject</Name>
      <AssemblyFile>C:/Program Files (x86)/Quandis/Quandis Business Objects v2.0.0/bin/qbo.Decision.dll</AssemblyFile>
      <NameSpace>qbo.Decision</NameSpace>
      <ImportSequence>84</ImportSequence>
	  <ImportXmlNode>ProductOrderEventStepObject</ImportXmlNode>
    </ObjectAssembly>
	<ObjectAssembly>
      <Name>ValidationErrorObject</Name>
      <AssemblyFile>C:/inetpub/wwwroot/bin/Adv.Core.dll</AssemblyFile>
      <NameSpace>Adv.Core</NameSpace>
      <ImportSequence>85</ImportSequence>
    </ObjectAssembly>
	<ObjectAssembly>
      <Name>ValidationErrorDetailObject</Name>
      <AssemblyFile>C:/inetpub/wwwroot/bin/Adv.Core.dll</AssemblyFile>
      <NameSpace>Adv.Core</NameSpace>
      <ImportSequence>86</ImportSequence>
    </ObjectAssembly>
	<ObjectAssembly>
      <Name>DecisionObject</Name>
      <AssemblyFile>C:/Program Files (x86)/Quandis/Quandis Business Objects v2.0.0/bin/qbo.Decision.dll</AssemblyFile>
      <NameSpace>qbo.Decision</NameSpace>
      <ImportSequence>87</ImportSequence>
	  <ImportXmlNode>ProductOrderParentDecisionObject</ImportXmlNode>
    </ObjectAssembly>
	<ObjectAssembly>
      <Name>FloodInsuranceAnalysisObject</Name>
      <AssemblyFile>C:/Inetpub/advisoryhome.com/bin/qbo.Mortgage.dll</AssemblyFile>
      <NameSpace>qbo.Mortgage</NameSpace>
      <ImportSequence>88</ImportSequence>
    </ObjectAssembly>
	<ObjectAssembly>
      <Name>ReconstructionCostObject</Name>
      <AssemblyFile>C:/Inetpub/advisoryhome.com/bin/qbo.Mortgage.dll</AssemblyFile>
      <NameSpace>qbo.Mortgage</NameSpace>
      <ImportSequence>89</ImportSequence>
    </ObjectAssembly>	
	<ObjectAssembly>
      <Name>SMRMMRTransactionObject</Name>
	  <AssemblyFile>C:/Inetpub/advisoryhome.com/bin/qbo.Mortgage.dll</AssemblyFile>
      <NameSpace>qbo.Mortgage</NameSpace>	  
      <ImportSequence>90</ImportSequence>
    </ObjectAssembly>
	 <ObjectAssembly>
      <Name>ObjectLinkObject</Name>
      <AssemblyFile>C:/Program Files (x86)/Quandis/Quandis Business Objects v2.0.0/bin/qbo.Application.dll</AssemblyFile>
      <NameSpace>qbo.Application</NameSpace>
      <ImportSequence>91</ImportSequence>
    </ObjectAssembly>
  </ArrayOfObjectAssembly>
</ObjectFactory>