<?xml version="1.0" encoding="utf-8"?>
<XsltExtensionConfig type="qbo.Security.XsltExtensionConfig, qbo.Security, Version=2.0.0.0, Culture=neutral, PublicKeyToken=2062e6b5d5159047">
	<XsltExtensionConfig xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
		<ExtensionObjects>
			<XsltExtensionObject>
				<Name>QboXsltExtension</Name>
				<AssemblyFile>C:/Program Files (x86)/Quandis/Quandis Business Objects v2.0.0/Bin/qbo.Data.dll</AssemblyFile>
				<NameSpace>qbo.Data</NameSpace>
				<XsltNameSpace>http://services.quandis.com/</XsltNameSpace>
				<Path>/</Path>
				<ExtensionType>ConnectionString</ExtensionType>
			</XsltExtensionObject>
			<XsltExtensionObject>
				<Name>QboXsltFormElements</Name>
				<AssemblyFile>C:/Program Files (x86)/Quandis/Quandis Business Objects v2.0.0/Bin/qbo.Web.dll</AssemblyFile>
				<NameSpace>qbo.Web</NameSpace>
				<XsltNameSpace>http://qbo.web.quandis.com/</XsltNameSpace>
				<Path>/</Path>
				<ExtensionType>UserPrincipal</ExtensionType>
			</XsltExtensionObject>
			<XsltExtensionObject>
				<Name>AdvXsltExtension</Name>
				<AssemblyFile>C:/Inetpub/advisoryhome.com/bin/adv.core.dll</AssemblyFile>
				<NameSpace>Adv.Core</NameSpace>
				<XsltNameSpace>http://advservices.quandis.com/</XsltNameSpace>
				<Path>/</Path>
				<ExtensionType>ConnectionString</ExtensionType>
	 </XsltExtensionObject>
		</ExtensionObjects>
	</XsltExtensionConfig>
</XsltExtensionConfig>