<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="ConStr" value="Integrated Security=SSPI;Persist Security Info=False;Initial Catalog=Buddy;Data Source=EPESMALW006D"/>
	</appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>