body {
    font-size: 16px;
}

.item {
    margin-top: 10px;
}
.section {
    margin-bottom: 20px;
}
.section-title {
    margin-top: 20px;
    font-family: sans-serif;
}
.section-title h4{
    border-left: solid 4px #1175cc;
    padding-left: 5px;
}
.section-data .item-title {
    color: #337ab7;
    background-color: #efefef3d;
    border-color: #e2e2e2;
    width: 100%;
    text-align: left;
    -webkit-border-top-left-radius: 5px !important;
    -webkit-border-top-right-radius: 5px !important;
    -moz-border-radius-topleft: 5px !important;
    -moz-border-radius-topright: 5px !important;
    border-top-left-radius: 5px !important;
    border-top-right-radius: 5px !important;
    font-size: 14px;
    padding: 3px 5px;
}

.btn.item-title {
    border-radius: initial;
    font-family: cursive;
}

    .btn.item-title:focus{
        outline: none;
        background-color:inherit;
    }

.item-data {
    font-size: 13px;
    padding: 5px;
    border-right: 1px solid rgb(241, 241, 241);
    border-bottom: 1px solid rgb(241, 241, 241);
    border-left: 1px solid rgb(232 232 232);
    border-image: initial;
    border-top: none;
    font-family: emoji;
}